html,
body {
  height: 100%;
  margin: 0;
  font-family: '微软雅黑';
  color:#333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  /* 去掉轮播图chrome的警告 */
  touch-action: pan-y;
}

